*log
*pyc
*ttf
*tmp
*tar
*swp
*names
tvm_root
*params
*nd
*so
*json
*.mp4
lib*
dog*
*bin
test_tvm_ssd
*jpg
*lib
*graph
model
model*
 __pycache__
*weights
*uff
*pb
*trt
*ckpt*
*tar.gz
*ssd_*
*mp4
*webm
